// A sample configuration to get you started.
(
    tasks: [
        (
            id: "mspsrc",
            type: "msp_src::MSPSrc",
            config: {
                "device": "/dev/ttyUSB0",
                "baudrate": 115_200,
            },
        ),
        (
            id: "control",
            type: "tasks::drone_control::DroneControl",
        ),
        (
            id: "mspsink",
            type: "msp_sink::MSPSink",
            config: {
                "device": "/dev/ttyUSB0",
                "baudrate": 115_200,
            },
        ),
     ],
    // Makes a connection from the source to the task and from the task to the sink.
    cnx: [
        (src: "mspsrc",  dst: "control",   msg: "msp_src::MspResponseBatch"),
        (src: "control", dst: "mspsink",   msg: "msp_sink::MspRequestBatch"),
    ],
)
